@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  font-family: 'Poppins', sans-serif;
  color: black; }

.conteiner {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto; }

.header {
  background: #F1F1F1;
  padding-top: 57px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 76px; }
  .nav__logo {
    position: relative;
    padding: 0 13px 3px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: black; }
  .nav__logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px; }
  .nav__link {
    color: black; }
  .nav__link.active {
    color: #606060; }
  .nav__button {
    display: none; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 30px;
  column-gap: 30px; }
  .content__text {
    margin-top: 124px;
    max-width: 500px; }
  .content__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 66px; }
  .content__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 2; }

.services {
  padding: 90px 0; }
  .services__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; }

.card__img {
  padding-bottom: 30px; }

.card__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px; }

.card__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 2; }

.portfolio {
  padding: 90px 0;
  background: #F1F1F1; }
  .portfolio__title {
    margin: 0 auto 70px auto;
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    color: #070707; }

.project {
  text-align: center;
  margin-bottom: 90px; }
  .project__image {
    width: 100%;
    height: auto;
    margin-bottom: 40px; }
  .project__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #070707; }

.contacts {
  padding: 90px 0;
  text-align: center; }
  .contacts__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 34px;
    line-height: 51px; }
  .contacts__subtitle {
    max-width: 480px;
    margin: 0 auto 40px auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px; }
  .contacts__button {
    margin-bottom: 80px;
    background-color: #070707;
    display: inline-block;
    padding: 8px 23px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF; }
  .contacts__button:hover {
    background-color: #272626;
    -webkit-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in; }
  .contacts__button:active {
    position: relative;
    top: 1px;
    -webkit-transition: top 0.2s ease-in;
    -o-transition: top 0.2s ease-in;
    transition: top 0.2s ease-in; }
  .contacts__links {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 60px;
    column-gap: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contacts__text {
    font-size: 14px;
    line-height: 21px;
    color: #828282; }

.contact__buton_btn {
  color: #FFFFFF; }
